{"openapi":"3.1.0","info":{"title":"Эмоции Гид API","description":"API для веб-версии приложения по отслеживанию эмоционального состояния.\n\n## Общая информация\nAPI предоставляет функциональность для:\n- Аутентификации и управления пользователями\n- Отслеживания эмоционального состояния\n- Чат-бота с искусственным интеллектом\n- Аналитики и визуализации данных\n\n## Аутентификация\nВсе запросы к защищенным эндпоинтам требуют JWT токен в заголовке:\n```\nAuthorization: Bearer <token>\n```\n\n## Форматы данных\nВсе данные передаются в формате JSON.\n\n## Обработка ошибок\nВ случае ошибок API возвращает соответствующий HTTP статус код и объект с описанием ошибки.\n","contact":{"email":"dementjew.vania2016@yandex.ru"},"version":"1.0.0"},"servers":[{"url":"https://api.emotion-guide.com/v1","description":"Основной сервер API"}],"paths":{"/api/auth/login":{"post":{"tags":["Аутентификация"],"summary":"Post Api Auth Login","description":"Вход в систему","operationId":"post_api_auth_login_api_auth_login_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/auth/logout":{"post":{"tags":["Аутентификация"],"summary":"Post Api Auth Logout","description":"Выход из аккаунта (инвалидация токена не реализована, просто success)","operationId":"post_api_auth_logout_api_auth_logout_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/auth/register":{"post":{"tags":["Аутентификация"],"summary":"Post Api Auth Register","description":"Регистрация нового пользователя","operationId":"post_api_auth_register_api_auth_register_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/chat/analyze-emotions":{"post":{"tags":["Чат","Аналитика"],"summary":"Post Api Chat Analyze Emotions","description":"Анализ эмоций по результатам тестов САН","operationId":"post_api_chat_analyze_emotions_api_chat_analyze_emotions_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmotionAnalysisResponse"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/chat/messages":{"post":{"tags":["Чат"],"summary":"Post Api Chat Messages","description":"Отправка сообщения в чат","operationId":"post_api_chat_messages_api_chat_messages_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessage"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Чат"],"summary":"Get Api Chat Messages","description":"Получение истории сообщений","operationId":"get_api_chat_messages_api_chat_messages_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","maximum":100,"minimum":1},{"type":"null"}],"default":20,"title":"Limit"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessage"},"title":"Response Get Api Chat Messages Api Chat Messages Get"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/test-results":{"post":{"tags":["Тесты"],"summary":"Post Api Test Results","description":"Сохранение результата теста САН","operationId":"post_api_test_results_api_test_results_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestResultRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Тесты"],"summary":"Get Api Test Results","description":"Получение последних результатов тестов","operationId":"get_api_test_results_api_test_results_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","maximum":50,"minimum":1},{"type":"null"}],"default":5,"title":"Limit"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TestResult"},"title":"Response Get Api Test Results Api Test Results Get"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Тесты"],"summary":"Delete Api Test Results","description":"Сброс всех результатов тестов","operationId":"delete_api_test_results_api_test_results_delete","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/users/change-email":{"put":{"tags":["Пользователи"],"summary":"Put Api Users Change Email","description":"Смена email пользователя","operationId":"put_api_users_change_email_api_users_change_email_put","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Conflict"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/users/change-password":{"put":{"tags":["Пользователи"],"summary":"Put Api Users Change Password","description":"Смена пароля пользователя","operationId":"put_api_users_change_password_api_users_change_password_put","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/users/profile":{"get":{"tags":["Пользователи"],"summary":"Get Api Users Profile","description":"Получение профиля пользователя","operationId":"get_api_users_profile_api_users_profile_get","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Пользователи"],"summary":"Put Api Users Profile","description":"Обновление профиля пользователя","operationId":"put_api_users_profile_api_users_profile_put","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"description":"Unauthorized"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AuthResponse":{"properties":{"userId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Userid","description":"Уникальный идентификатор пользователя","example":"user123"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email","description":"Электронная почта пользователя","example":"user@example.com"},"username":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Username","description":"Отображаемое имя пользователя","example":"Иван Иванов"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token","description":"JWT токен для авторизации","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},"type":"object","title":"AuthResponse"},"ChangeEmailRequest":{"properties":{"newEmail":{"type":"string","format":"email","title":"Newemail","description":"Новый email пользователя","example":"newemail@example.com"},"password":{"type":"string","title":"Password","description":"Текущий пароль пользователя для подтверждения","example":"currentpassword123"}},"type":"object","required":["newEmail","password"],"title":"ChangeEmailRequest"},"ChangePasswordRequest":{"properties":{"currentPassword":{"type":"string","title":"Currentpassword","description":"Текущий пароль пользователя","example":"currentpassword123"},"newPassword":{"type":"string","title":"Newpassword","description":"Новый пароль пользователя (минимум 6 символов)","example":"newpassword123"}},"type":"object","required":["currentPassword","newPassword"],"title":"ChangePasswordRequest"},"ChatMessage":{"properties":{"messageId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Messageid","description":"Уникальный идентификатор сообщения","example":"msg123"},"userId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Userid","description":"Идентификатор пользователя","example":"user123"},"content":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content","description":"Текст сообщения","example":"Как улучшить свое настроение?"},"isUser":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Isuser","description":"Флаг, указывающий, что сообщение от пользователя (true) или от AI (false)","example":true},"timestamp":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Timestamp","description":"Временная метка сообщения","example":"2024-01-02T10:00:00Z"}},"type":"object","title":"ChatMessage"},"ChatMessageRequest":{"properties":{"content":{"type":"string","title":"Content","description":"Текст сообщения","example":"Как улучшить свое настроение?"},"isUser":{"type":"boolean","title":"Isuser","description":"Флаг, указывающий, что сообщение от пользователя (true) или от AI (false)","example":true}},"type":"object","required":["content","isUser"],"title":"ChatMessageRequest"},"EmotionAnalysisResponse":{"properties":{"analysis":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Analysis","description":"Текстовый анализ эмоционального состояния","example":"Ваши результаты показывают улучшение настроения за последние недели..."},"recommendations":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Recommendations","description":"Рекомендации по улучшению эмоционального состояния","example":["Попробуйте увеличить физическую активность","Обратите внимание на качество сна"]},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat","description":"Временная метка анализа","example":"2024-01-02T10:00:00Z"}},"type":"object","title":"EmotionAnalysisResponse"},"Error":{"properties":{"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error","description":"Описание ошибки"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"Детализированное сообщение об ошибке"},"statusCode":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Statuscode","description":"HTTP статус код ошибки"}},"type":"object","title":"Error"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"LoginRequest":{"properties":{"email":{"type":"string","format":"email","title":"Email","description":"Электронная почта пользователя","example":"user@example.com"},"password":{"type":"string","title":"Password","description":"Пароль пользователя","example":"password123"}},"type":"object","required":["email","password"],"title":"LoginRequest"},"RegisterRequest":{"properties":{"email":{"type":"string","format":"email","title":"Email","description":"Электронная почта пользователя","example":"user@example.com"},"password":{"type":"string","title":"Password","description":"Пароль пользователя (минимум 6 символов)","example":"password123"},"username":{"type":"string","title":"Username","description":"Отображаемое имя пользователя","example":"Иван Иванов"},"termsAccepted":{"type":"boolean","title":"Termsaccepted","description":"Флаг принятия пользовательского соглашения","example":true}},"type":"object","required":["email","password","username","termsAccepted"],"title":"RegisterRequest"},"SuccessResponse":{"properties":{"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"Сообщение об успешной операции","example":"Операция выполнена успешно"}},"type":"object","title":"SuccessResponse"},"TestResult":{"properties":{"resultId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Resultid","description":"Уникальный идентификатор результата теста","example":"result123"},"userId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Userid","description":"Идентификатор пользователя","example":"user123"},"activityScore":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Activityscore","description":"Оценка уровня активности","example":5},"moodScore":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Moodscore","description":"Оценка настроения","example":6},"wellbeingScore":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Wellbeingscore","description":"Оценка общего благополучия","example":4},"timestamp":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Timestamp","description":"Временная метка теста","example":"2024-01-02T10:00:00Z"}},"type":"object","title":"TestResult"},"TestResultRequest":{"properties":{"activityScore":{"type":"integer","maximum":7.0,"minimum":1.0,"title":"Activityscore","description":"Оценка уровня активности (1-7)","example":5},"moodScore":{"type":"integer","maximum":7.0,"minimum":1.0,"title":"Moodscore","description":"Оценка настроения (1-7)","example":6},"wellbeingScore":{"type":"integer","maximum":7.0,"minimum":1.0,"title":"Wellbeingscore","description":"Оценка общего благополучия (1-7)","example":4},"timestamp":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Timestamp","description":"Временная метка теста","example":"2024-01-02T10:00:00Z"}},"type":"object","required":["activityScore","moodScore","wellbeingScore"],"title":"TestResultRequest"},"UpdateProfileRequest":{"properties":{"username":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Username","description":"Новое отображаемое имя пользователя","example":"Новое Имя"}},"type":"object","title":"UpdateProfileRequest"},"UserProfile":{"properties":{"userId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Userid","description":"Уникальный идентификатор пользователя","example":"user123"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email","description":"Электронная почта пользователя","example":"user@example.com"},"username":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Username","description":"Отображаемое имя пользователя","example":"Иван Иванов"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat","description":"Дата и время создания учетной записи","example":"2024-01-01T00:00:00Z"},"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updatedat","description":"Дата и время последнего обновления профиля","example":"2024-01-02T00:00:00Z"}},"type":"object","title":"UserProfile"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}